<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memes</title>
    <link rel="stylesheet" href="/other.css">
  </head>
  <body>
      <video controls autoplay width="580" height="280">
        <source src="<%= memes %>" type="video/mp4">
      </video>
  </body>
</html>
