<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="/posts.css">
</head>
<body>
    <h2 class="glow">Create new post</h2>
    <form method="post" action="/posts" class="post">
        <input placeholder="enter username" name="username"><br><br>
        <textarea name="content" placeholder="Write your post"></textarea><br><br>
        <button>Submit</button>
    </form>
</body>
</html>