<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
    <link rel="stylesheet" href="/other.css">
</head>
<body>
    <div class="player">
        <div class="imgbx">
            <img src="">
        </div>
        <audio controls="true">
            <source src="<%= songs %>">
        </audio>
    </div>
</body>
</html>