body{
    background-image:url("back.jpg");
    background-size: cover;
}

.post{
    height: auto;
    max-width: 400px;
    margin: 3% auto;
    padding: 1%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glow {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
    
h3{
    display: inline;
}

.fa-circle-user{
    font-size: 1.5rem;
}

.fa-heart{
    color: rgba(255, 255, 255, 0.36);
}

#react{
    display: none;
}

#react:checked + label > i {
    color: red;
}

.icons i{
    padding-right: 20%;
    
}

.icons i:hover{
    color: rgba(240, 248, 255, 0.404);
    cursor: pointer;
}

form{
    text-align: center;
}

input,textarea{
    border: 2px solid transparent;
    border-radius: 10px;
}

input,textarea::placeholder{
    text-align: center;
}

button{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 5px 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.createPost{
    height: auto;
    margin: auto;
    width: 20vh;
    background-color: #3232ca;
    border-radius: 15px;
}

.createPost a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.createPost a i{
    padding: 5px;
}
