*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

h2{
    text-align: center;
    padding: 7%;
    margin-bottom: 5%;
}
.glow {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
  }

.moods {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3em;
  margin-left: 35vh;
}

.text{
  display: inline-block;
  margin-left: -35%;
  font-size: 1.2rem;
  color:#fff;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  text-align:center;
}

.emoji {
  max-height: 100px;
  max-width: 100px;
  border-radius: 15%;
  background: #d2e2ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emoji:hover {
  transform: scale(1.05);
  background: #8db5ff;
  box-shadow: 0px 10px 30px 5px hsla(219, 100%, 73%, 0.418);
  text-shadow: 0px 10px 30px hsla(219, 35%, 29%, 0.541);
}
.emoji::after {
  transform: scale(1.1);
  background: #8db5ff;
  box-shadow: 0px 10px 30px 5px #6ea0fd;
}

.emoji a{
  text-decoration: none;
}

@media (max-width: 768px) {
  .moods{
    margin-left: 40%;
    margin-right: 30%;
  }
  .glow{
    font-size: 1.5rem;
  }

  .moods{
    display: block;
  }

  .emoji {
    max-height: 60px;
    max-width: 60px;
    border-radius: 15%;
    background: #d2e2ff;
    margin-top: 50px;
  }

  .text{
    display: inline-block;
    margin-left: -50%;
    font-size: 1rem;
    color:#fff;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    text-align:center;
    padding: 10px;
  }
}



